
<div id ="Cheesecake" class="underNav" >
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <h1>&nbsp; </h1>
  <h1> &nbsp;</h1>
    <br>

  <h2>Florentines</h2>
    <br>

 Ricetta francese tratta da una rivista (non ricordo quale). Squisiti, deliziosi poche variazioni per la “personale” perfezione (ad esempio un cioccolato più amaro).

  <br>
  <br>
  <br>
<strong>Ingredienti x 16 biscotti</strong>
    <br>
  <br>

<ul>
	<li>scorza arancia candita 100 g</li>
	<li>ciliegie candite 40 g</li>
	<li>zucchero 120 g</li>
	<li>mandorle tritate 150 g</li>
	<li>mandorle a lamelle 50 g</li>
	<li>farina 00 50 g</li>
	<li>burro 50 g</li>
	<li>panna fresca 1.5 dl</li>
	<li>cioccolato fondente 50 % 250 g</li>
</ul>
  <br>
  <br>
<strong>Preparazione</strong>
  <br>
  <br>

Mettere a bagno le ciliegie in acqua tiepida per 10', sgocciolarle e dividerle in quarti. Tagliare a pezzetti la scorza candita. In un pentolino portare all’ebollizione la panna il burro e lo zucchero; spegnere e incorporare la farina setacciata, le mandorle tritate e quelle a lamella, la scorza e le ciliegie.
Fare dei mucchietti (un cucchiaio abbondante di miscela) sulla carta forno appoggiata sulla placca  forno ed appiattirli con un cucchiaio bagnato ogni volta con acqua fredda.
Cuocere a 180°C per 10' finchè il bordo diviene dorato; staccarli dalla carta e far raffreddare su una gratella.
Fondere il cioccolato a bagnomaria (in realtà la quantità della ricetta è veramente esagerata: ne abbiamo utilizzato al massimo un quinto) e spennellare la parte piatta (quella inferiore) quindi farli asciugare ribaltati.
    <br>
  <br>

<div id="scid:66721397-FF69-4ca6-AEC4-17E6B3208830:a30850a6-022c-489e-b3b9-999c8c1b3199" class="wlWriterEditableSmartContent" style="display: inline; float: none; margin: 0; padding: 0;">
<table style="outline: none; width: 400px; border-collapse: collapse; border-style: none; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="outline: none; width: 157px; vertical-align: bottom; border-style: none; margin: 0; padding: 5px 0 5px 5px;" colspan="2"><a style="outline: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1142&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"> <img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/207420558109fe5343.png" alt="View album" width="157" height="157" border="0" /></a></td>
<td style="vertical-align: middle; outline: none; width: 223px; border-style: none; margin: 0; padding: 5px 5px 5px 0;" colspan="3">
<div style="margin-left: 10px; top: -3%;">
<div style="width: 223px; overflow: visible;"><a style="text-decoration: none;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=browse&amp;resid=64B3F9B664E157F4!1141&amp;type=5&amp;authkey=!AIC_uAyBf6tJyQA&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos" target="_blank"><span style="line-height: 1.26em; width: 223px; font-size: 26pt; font-family: 'Segoe UI', helvetica, arial, sans-serif; padding: 0;">Florentines</span></a></div>
<div style="margin: 0; padding: 10px 0 0;">
<table style="outline: none; border-collapse: collapse; width: auto; border-style: none; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; outline: none; border-style: none; margin: 0; padding: 10px 15px 6px 0;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1141&amp;type=5&amp;authkey=!AIC_uAyBf6tJyQA&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos" target="_blank">VIEW SLIDE SHOW</a></td>
<td style="vertical-align: top; outline: none; border-style: none; margin: 0; padding: 10px 0 6px;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=downloadphotos&amp;resid=64B3F9B664E157F4!1141&amp;type=5&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank">DOWNLOAD ALL</a></td>
</tr>
</tbody>
</table>
</div>
</div></td>
</tr>
<tr>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1143&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/1848993477183ccc33.png" alt="View album" width="76" height="76" border="0" /></a></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1144&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/184899344631389c78.png" alt="View album" width="76" height="76" border="0" /></a></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1145&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/20742057214a346cbd.png" alt="View album" width="76" height="76" border="0" /></a></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1146&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/20742054847821bf75.png" alt="View album" width="76" height="76" border="0" /></a></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1147&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/20742055152a196000.png" alt="View album" width="76" height="76" border="0" /></a></td>
</tr>
<tr>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px;"><a style="font-family: 'Segoe UI', helvetica, arial, sans-serif; font-size: 8pt; outline: none; text-decoration: none; border-style: none; margin: 0; padding: 0;" href="https://skydrive.live.com/redir.aspx?cid=64b3f9b664e157f4&amp;page=play&amp;resid=64B3F9B664E157F4!1148&amp;parid=64B3F9B664E157F4!1141&amp;type=1&amp;Bsrc=Photomail&amp;Bpub=SDX.Photos&amp;authkey=!AIC_uAyBf6tJyQA" target="_blank"><img style="outline: none; border: 0; background: none; background-image: none; vertical-align: bottom; border-style: none; margin: 0; padding: 0;" title="View album" src="http://gdecil.files.wordpress.com/2011/12/207420555005f40571.png" alt="View album" width="76" height="76" border="0" /></a></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"></td>
<td style="vertical-align: bottom; outline: none; width: 76px; height: 76px; border-style: none; margin: 0; padding: 0 5px 5px 0;"></td>
</tr>
</tbody>
</table>
</div>
</div>


