.version.index /* version checker */
{
	color: #0000E6;
	background-color: #0895BF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6631px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -11px;
	width: 0.01px;
}

#pu416
{
	width: 0.01px;
	margin-left: -637px;
}

#u416
{
	z-index: 3;
	width: 1934px;
	padding-bottom: 48px;
	margin-right: -10000px;
	margin-top: 701px;
	left: 154px;
}

#u417
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 447px;
	left: -4px;
}

#u276-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 89px;
	left: 807px;
}

#u277-4
{
	z-index: 9;
	margin-right: -10000px;
	margin-top: 42px;
	left: 807px;
}

#u451-12
{
	z-index: 14;
	margin-right: -10000px;
	margin-top: 854px;
	left: 727px;
}

#u737
{
	z-index: 26;
	margin-right: -10000px;
	left: 915px;
}

#u739
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 717px;
}

#u741
{
	z-index: 28;
	width: 771px;
	padding-bottom: 125px;
	margin-right: -10000px;
	left: 154px;
}

#u751
{
	z-index: 47;
	margin-right: -10000px;
	margin-top: 41px;
	left: 573px;
}

#u742
{
	z-index: 29;
	width: 1946px;
	height: 298px;
	margin-right: -10000px;
	margin-top: 427px;
	left: 150px;
}

#u743-4
{
	z-index: 30;
	margin-right: -10000px;
	margin-top: 357px;
	left: 727px;
}

#u744-13
{
	z-index: 34;
	margin-right: -10000px;
	margin-top: 481px;
	left: 726px;
}

#u875-4
{
	z-index: 48;
	margin-right: -10000px;
	margin-top: 661px;
	left: 792px;
}

#u876-4
{
	z-index: 52;
	margin-right: -10000px;
	margin-top: 661px;
	left: 897px;
}

#u655
{
	z-index: 61;
	width: 1938px;
	padding-bottom: 687px;
	margin-right: -10000px;
	margin-top: 1404px;
	left: 151px;
}

#u669-6
{
	z-index: 62;
	margin-right: -10000px;
	margin-top: 168px;
	left: 576px;
}

#pu270
{
	width: 0.01px;
	padding-bottom: 2784px;
	margin-left: -483px;
	margin-top: -2373px;
}

#u270
{
	z-index: 4;
	width: 1934px;
	height: 400px;
	top: -11px;
	left: 50%;
	margin-left: -963px;
}

#u811
{
	z-index: 78;
	top: 647px;
	left: 70px;
}

#u823
{
	z-index: 76;
	top: 1738px;
	left: 120px;
}

#u815
{
	z-index: 77;
	top: 860px;
	left: 190px;
}

#pu713
{
	width: 0.01px;
	margin-left: -581px;
	margin-top: -418px;
}

#u713
{
	z-index: 2;
	width: 1926px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 3677px;
	left: 72px;
}

#u648
{
	z-index: 56;
	/*width: 1112px;*/
	margin-right: -10000px;
	margin-top: 553px;
	padding: 416px 431px 132.14999999999964px 505px;
}

#u649
{
	z-index: 57;
	width: 1112px;
}

#u650
{
	z-index: 58;
	margin-bottom: -43px;
	margin-right: -10000px;
	margin-top: 340px;
	left: -488px;
}

#u873-4
{
	z-index: 83;
	margin-left: 466px;
	margin-top: 1487px;
}

#u861
{
	z-index: 79;
	width: 930px;
	margin-left: 91px;
	margin-top: 38px;
}

#u874-4
{
	z-index: 87;
	margin-left: 466px;
	margin-top: 87px;
}

#u867
{
	z-index: 81;
	width: 931px;
	margin-left: 91px;
	margin-top: 25px;
}

#u867_img
{
	padding-bottom: 1px;
}

#u711-4
{
	z-index: 68;
	margin-left: 166px;
	margin-top: 155px;
}

#u652
{
	z-index: 59;
	width: 1112px;
	margin-right: -10000px;
	left: 505px;
}

#u653
{
	z-index: 60;
	margin-bottom: -48px;
	margin-right: -10000px;
	margin-top: 345px;
	left: -488px;
}

#u731
{
	z-index: 72;
	width: 413px;
	height: 1541px;
	margin-right: -10000px;
	left: 95px;
}

#u732
{
	z-index: 73;
	width: 416px;
	height: 1541px;
	margin-right: -10000px;
	left: 1617px;
}

#pu843
{
	width: 0.01px;
	padding-bottom: 1311px;
	margin-left: 275px;
	margin-top: -4169px;
}

#u843
{
	z-index: 74;
	top: 2734px;
	left: 275px;
}

#u838
{
	z-index: 75;
	top: 2463px;
	left: 327px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

