<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="app/img/logo.png">
      </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav customPos1">
      <li><a href="index.html#/menu" id="link1">Menu'</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right customPos2">
      <li><a href="index.html#/ricette" id="link2">Ricette</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu416"><!-- group -->
     <div class="clearfix grpelem" id="u416"><!-- group -->
      <img class="svg grpelem" id="u417" src="app/img/svg%20incollato%20960x124.svg" width="1938" height="265" alt="" data-mu-svgfallback="app/img/svg%20incollato%20960x124_poster_.png"/><!-- svg -->
     </div>
      <a href="http://www.w3schools.com">
        <img class="grpelem" id="u276-4" alt="menu" style="z-index: 50;" width="800" height="40" src="app/img/menu.png"/>
      </a><!-- rasterized frame -->
<!-- rasterized frame -->
     <img class="grpelem" id="u451-12" alt="Prendi una cucina abbandonata e immaginala portata a nuova vita. Pensa a un'installazione di primi e secondi, realizzata in container spaziali, capaci di assumere nuove e inconsuete gustosità. La storia di questi profumi, raccontata dall’usura dei lavelli lucidati a brillantezza, viene preservata e restituita alla città attraverso The Commensals, per un nuovo viaggio, lungo una vita di piaceri. " width="1000" height="344" src="app/img/apertura.svg"/><!-- rasterized frame -->
     <img class="svg grpelem" id="u737" src="app/img/svg%20incollato%201056.svg" width="1394" height="453" alt="" data-mu-svgfallback="images/svg%20incollato%201056_poster_.png"/><!-- svg -->
     <img class="svg grpelem" id="u739" src="app/img/svg%20incollato%20960x85.svg" width="2238" height="173" alt="" data-mu-svgfallback="app/img/svg%20incollato%20960x85_poster_.png"/><!-- svg -->
     <div class="clearfix grpelem" id="u741"><!-- group -->
      <img class="svg grpelem" id="u751" src="app/img/crew01.svg" width="235" height="291" alt="" data-mu-svgfallback="app/img/bg5.jpg"/><!-- svg -->
       <!--http://www.tank015.com/images/svg%20incollato%20234_poster_.png-->
     </div>
     <div class="grpelem" id="u742"><!-- simple frame --></div>
      <a href="http://www.w3schools.com">
     <img class="grpelem" id="u743-4" alt="the Commensals: food an wine managers" width="400" height="200" src="app/img/theCommensals1.jpg"/>
        </a><!-- rasterized frame -->
     <div class="clearfix grpelem" id="u655"><!-- group -->
      <img class="grpelem" id="u669-6" alt="Un approccio metropolitano ed internazionale di esperienze:" width="780" height="114" src="http://www.tank015.com/images/u669-6.png"/><!-- rasterized frame -->
     </div>
    </div>
    <div class="clearfix colelem" id="pu270"><!-- group -->
     <div id="u270"><!-- simple frame --></div>
     <img class="svg ose_pre_init mse_pre_init" id="u811" src="app/img/fusilli_lunghi2.svg" width="757" height="1080" alt=""/><!-- svg -->
     <img class="svg ose_pre_init mse_pre_init" id="u823" src="app/img/fusilli_lunghi1.svg" width="500" height="1250" alt="" data-mu-svgfallback="app/img/fusilli_lunghi1.jpg"/><!-- svg -->
     <img class="svg ose_pre_init mse_pre_init" id="u815" src="app/img/fusilli_lunghi3.svg" width="699" height="1084" alt=""/><!-- svg -->
    </div>
    <div class="clearfix colelem" id="pu713"><!-- group -->
     <div class="grpelem" id="u713"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u648"><!-- column -->
      <div class="museBGSize clearfix colelem" id="u649"><!-- group -->
       <img class="svg grpelem" id="u650" src="app/img/svg%20incollato%20960x124.svg" width="2007" height="273" alt="" data-mu-svgfallback="app/img/svg%20incollato%20960x124_poster_.png"/><!-- svg -->
      </div>
      <img class="ose_pre_init colelem" id="u873-4" alt="SPONSOR" width="180" height="43" src="app/img/u873-4.png"/><!-- rasterized frame -->
      <div class="clip_frame ose_pre_init colelem" id="u861"><!-- image -->
       <img class="block" id="u861_img" src="app/img/sponsor.png" alt="" width="930" height="151"/>
      </div>
      <img class="ose_pre_init colelem" id="u874-4" alt="PARTNER TECNICI" width="180" height="43" src="app/img/u874-4.png"/><!-- rasterized frame -->
      <div class="clip_frame ose_pre_init colelem" id="u867"><!-- image -->
       <img class="block" id="u867_img" src="app/img/partner%20tecnici.png" alt="" width="931" height="94"/>
      </div>
      <img class="ose_pre_init colelem" id="u711-4" alt="ENJOY THE TANK" width="780" height="57" src="app/img/u711-4.png"/><!-- rasterized frame -->
     </div>
     <div class="museBGSize clearfix grpelem" id="u652"><!-- group -->
      <img class="svg grpelem" id="u653" src="app/img/svg%20incollato%20960x124.svg" width="2007" height="273" alt="" data-mu-svgfallback="app/img/svg%20incollato%20960x124_poster_.png"/><!-- svg -->
     </div>
     <div class="grpelem" id="u731"><!-- simple frame --></div>
     <div class="grpelem" id="u732"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="pu843"><!-- group -->
     <img class="svg ose_pre_init mse_pre_init" id="u843" src="app/img/palco_container.svg" width="435" height="1040" alt="" data-mu-svgfallback="app/img/palco_container.png"/><!-- svg -->
     <img class="svg ose_pre_init mse_pre_init" id="u838" src="app/img/palco_container.svg" width="486" height="1048" alt="" data-mu-svgfallback="app/img/palco_container_poster_.png"/><!-- svg -->
    </div>
    <div class="verticalspacer"></div>
   </div>
</div>

  <script src="app/js/libs/museutils.js?521960461" type="text/javascript"></script>
  <script src="app/js/libs/jquery.scrolleffects.js?4038615763" type="text/javascript"></script>
  <script src="app/js/libs/jquery.musepolyfill.bgsize.js?349594875" type="text/javascript"></script>
  <script src="app/js/libs/jquery.watch.js?56779320" type="text/javascript"></script>
  <!-- Other scripts -->
<script type="text/javascript">
   $(document).ready(function() { try {
    (function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
    for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
    typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Alcuni file sul server potrebbero essere mancanti o errati. Cancellate la cache del browser e riprovate. Se il problema persiste, contattate l\'autore del sito Web.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
    /* body */
    Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
    Muse.Utils.prepHyperlinks(true);/* body */
    $('#u416').registerBackgroundPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,247.5]},{"speed":[0,0],"in":[247.5,Infinity]}]);/* scroll effect */
    $('#u270').registerBackgroundPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,-354]},{"speed":[0,0],"in":[-354,Infinity]}]);/* scroll effect */
    $('#u811').registerPositionScrollEffect([{"speed":[0,-0.8],"in":[-Infinity,1199.4]},{"speed":[0,0.5],"in":[1199.4,Infinity]}]);/* scroll effect */
    $('#u811').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,1199.4],"fade":215.4},{"opacity":50,"in":[1199.4,1199.4]},{"opacity":100,"in":[1199.4,Infinity],"fade":253}]);/* scroll effect */
    $('#u823').registerPositionScrollEffect([{"speed":[0,-0.5],"in":[-Infinity,1961]},{"speed":[0,0.3],"in":[1961,Infinity]}]);/* scroll effect */
    $('#u823').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,1961],"fade":0},{"opacity":50,"in":[1961,1961]},{"opacity":100,"in":[1961,Infinity],"fade":438}]);/* scroll effect */
    $('#u815').registerPositionScrollEffect([{"speed":[0,-0.8],"in":[-Infinity,1197]},{"speed":[0,0.4],"in":[1197,Infinity]}]);/* scroll effect */
    $('#u815').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,1197],"fade":336},{"opacity":50,"in":[1197,1197]},{"opacity":100,"in":[1197,Infinity],"fade":216}]);/* scroll effect */
    $('#u713').registerBackgroundPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,5589.1]},{"speed":[0,0],"in":[5589.1,Infinity]}]);/* scroll effect */
    $('#u649').registerBackgroundPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,3093.6]},{"speed":[0,0],"in":[3093.6,Infinity]}]);/* scroll effect */
    $('#u873-4').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,4888],"fade":143},{"opacity":50,"in":[4888,4888]},{"opacity":100,"in":[4888,Infinity],"fade":305}]);/* scroll effect */
    $('#u861').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,5080],"fade":121},{"opacity":50,"in":[5080,5080]},{"opacity":100,"in":[5080,Infinity],"fade":152}]);/* scroll effect */
    $('#u874-4').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,5216],"fade":110.4},{"opacity":50,"in":[5216,5216]},{"opacity":100,"in":[5216,Infinity],"fade":211.45}]);/* scroll effect */
    $('#u867').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,5164],"fade":75},{"opacity":50,"in":[5164,5164]},{"opacity":100,"in":[5164,Infinity],"fade":265}]);/* scroll effect */
    $('#u711-4').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,5447.8],"fade":168.6},{"opacity":50,"in":[5447.8,5447.8]},{"opacity":100,"in":[5447.8,Infinity],"fade":0}]);/* scroll effect */
    $('#u652').registerBackgroundPositionScrollEffect([{"speed":[0,0],"in":[-Infinity,2124.6]},{"speed":[0,0],"in":[2124.6,Infinity]}]);/* scroll effect */
    $('#u843').registerPositionScrollEffect([{"speed":[0,-0.3],"in":[-Infinity,2980]},{"speed":[0,0.35],"in":[2980,Infinity]}]);/* scroll effect */
    $('#u843').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,2980],"fade":50},{"opacity":50,"in":[2980,2980]},{"opacity":100,"in":[2980,Infinity],"fade":50}]);/* scroll effect */
    $('#u838').registerPositionScrollEffect([{"speed":[0,-0.7],"in":[-Infinity,2693]},{"speed":[0,0.4],"in":[2693,Infinity]}]);/* scroll effect */
    $('#u838').registerOpacityScrollEffect([{"opacity":0,"in":[-Infinity,2693],"fade":150},{"opacity":50,"in":[2693,2693]},{"opacity":100,"in":[2693,Infinity],"fade":224}]);/* scroll effect */
    Muse.Utils.fullPage('#page');/* 100% height page */
    Muse.Utils.showWidgetsWhenReady();/* body */
    Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
    } catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>

