.customPos2 {
    text-align:center;
    position: absolute;
    left: 700px;
}
.customPos1 {
    text-align:center;
    position: absolute;
    left: 600px;
}

.navbar-default {
  background-color: white;
  border-color: transparent;
}
#link1 {
  cursor: url(../index2/fish0.png),auto;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: black;

}

#link2 {
  cursor: url(../index2/fish1.png),auto;
  font-size: 200%;
  font-weight: bold;
  color: black;
}

#u270
{
	position: fixed;
	background: transparent url("Ravioli_baccalaMantecato1.png") repeat left top;
}

#u416,#u713
{
	position: relative;
	background: transparent url("Ravioli_baccalaMantecato1.png") repeat left top;
}

#u649
{
	position: relative;
	background: transparent url("Amici.png") no-repeat center top;
	background-size: contain;
}

#u861,#u867
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u276-4,#u277-4,#u451-12,#u743-4,#u744-13,#u875-4,#u876-4,#u669-6,#u873-4,#u874-4,#u711-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u652
{
	position: relative;
	background: transparent url("Antipasti.png") no-repeat center top;
	background-size: contain;
}

#u417,#u737,#u739,#u751,#u650,#u653
{
	position: relative;
}

#u741,#u742,#u655,#u648,#u731,#u732
{
	background-color: #FFFFFF;
	position: relative;
}

#u811,#u823,#u815,#u843,#u838
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
}

.js #u811.ose_pre_init,.js #u823.ose_pre_init,.js #u815.ose_pre_init,.js #u873-4.ose_pre_init,.js #u861.ose_pre_init,.js #u874-4.ose_pre_init,.js #u867.ose_pre_init,.js #u711-4.ose_pre_init,.js #u843.ose_pre_init,.js #u838.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

