
html, body {
  margin:0;
  padding:0;
  background-image: url("../img/bg8.jpg");
  background-size: 100px 100px;
}

.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
/*    background-position: center center;*/
}

ul[rn-carousel] {
    width:100%;
    height:400px;
    margin: 0 auto;
}

  .carousel-indicators {
    visibility: hidden;
  }
  .carousel-control {
    visibility: hidden;
  }    


#down {
/*    margin-top:20px;*/
    display:inline-block;
    text-align: center;
    width:100%;
    height:500px;
}


/*navbar*/
.navbar-fixed-top {
  left: 100px;
  right: 100px;
}
.navbar-default
{
  background-color:#fff;
  border-color:#fff;
  background-image: url("../img/bg8.jpg");
  background-size: 100px 100px;
  border: 0px;

}
.navbar
{
  border: 0px;
}
.mainc {
  height: 1em;
}
div#navbar {
  position:fixed;
  left: 500px;
  background:#FFF;
	width:560px;
	padding:20px;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .customPos2 {
    text-align:center;
    position: absolute;
    left: 700px;
}
.customPos1 {
    text-align:center;
    position: absolute;
    left: 500px;
}

div#sideBar {
	width:230px;
	padding:20px;
	margin-left:30px;
	float:right;
}
.clear { 
	clear:both; 
}
div#sticker {
	padding:20px;
	margin:20px 0;
	background:#AAA;
	width:190px;
}
.stick {
	position:fixed;
	top:1em;
}
#footer {
	background:#999999;
	height:1000px;
	width:100%;
}

#link1 {
  cursor: url(../img/graphics-arrows-360389.gif),auto;
  font-size: 200%;
     color: crimson;

}

#link2 {
  cursor: url(../img/arrow24.gif),auto;
  font-size: 200%;
     color: crimson;
}

.underNav {
  position: absolute;
  /*float:none;
  display:inline-block;*/
  top:6em;
  width: 100%;
}