<<<<<<< HEAD
#divContainer {
  background-image: url(../app/image/parallax.jpg)
}
.center1
{ 
  position: absolute;
  top: 10em;
  margin-left: 10%;
  margin-right: auto;
  text-align: center;
}
 
.center2
{ 
  text-align: center;
  position: absolute;
}

.imgCaption
{ 
  position: fixed;
  top: 50px;
  left: 300px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 40px;
}

.search {
  position: relative;
}

.search1 {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
=======
.collapsible-item {
  margin-bottom: 0px;
}
.collapsible-item.open .body {
  max-height: 2000px;
}

.form-horizontal {
  max-width: 800px;
>>>>>>> 29674b4b4c7948a9e39f84cd89527e215fc448c9
}

.html-back2{
  background : #eee url("http://placehold.it/400x300/eee/666&text=HTML") no-repeat center;

}
.css-back1{
  background : #eee url("http://placehold.it/400x300/eee/666&text=CSS") no-repeat center;

}
.js-back1{
  /*background : #eee url("http://placehold.it/400x300/eee/666&text=JS") no-repeat center;*/
  padding: 10px;
}

.form-group, .form-actions{
  width: 300px;
    width: 50%;
    margin: 0 auto;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: blue;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 1000px;
  height: 600px;
}