<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="img/logo.png">
      </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav customPos1">
      <li><a href="/theCommensals/index3.html#/menu" id="link1">Menu'</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right customPos2">
      <li><a href="/theCommensals/index3.html#/ricette" id="link2">Ricette</a></li>
    </ul>
  </div>
</div>
</nav>
<div class="underNav">
  <h1>MENU</h1>
  <h3>Example heading <span class="label label-default">New</span></h3>
  <div class="alert alert-success" role="alert">ciao</div>
  <div class="alert alert-info" role="alert">ddddd</div>
  <div class="alert alert-warning" role="alert">ffff</div>
  <div class="alert alert-danger" role="alert">gggg</div>
</div>

  <h2>RICETTE Nuove</h2>
